@model EditModel

<div class="card mt-3">
    <h5 class="card-header">Basics</h5>
    <div class="card-body">
        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.Enabled" class="col-sm-3 col-form-label form-check-label">
                Enabled
            </label>
            <div class="col-sm-9">
                <input asp-for="Client.Enabled" type="checkbox" class="form-check-input">
            </div>
        </div>

        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="Client.Description" class="col-sm-3 col-form-label">
                Description
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="Client.Description">
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.RequireClientSecret" class="col-sm-3 col-form-label form-check-label">
                Require Client Secret
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Client.RequireClientSecret" type="checkbox" class="form-check-input">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.RequirePkce" class="col-sm-3 col-form-label form-check-label">
                Require Pkce
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Client.RequirePkce" type="checkbox" class="form-check-input">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.AllowOfflineAccess" class="col-sm-3 col-form-label form-check-label">
                Allow Offline Access
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Client.AllowOfflineAccess" type="checkbox" class="form-check-input">
                </toggle-button>
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="Client.AllowedScopes" class="col-sm-3 col-form-label">
                Allowed Scopes
            </label>
            <div class="col-sm-9">
                @foreach (var scope in Model!.Scopes)
                {
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="scope-@scope" name="Client.AllowedScopes"  class="form-check-input"
                               checked="@Model.Client.AllowedScopes.Contains(scope)" value="@scope"/>
                        <label for="scope-@scope" class="form-check-label">@scope</label>
                    </div>
                }
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="Client.RedirectUris" class="col-sm-3 col-form-label">
                Redirect Uris
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" asp-for="Client.RedirectUris"></textarea>
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="Client.AllowedGrantTypes" class="col-sm-3 col-form-label">
                Allowed Grant Types
            </label>
            <div class="col-sm-9">
                @foreach (var grantType in Model.GrantTypes)
                {
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="grantType-@grantType" name="Client.AllowedGrantTypes" class="form-check-input"
                               checked="@Model.Client.AllowedGrantTypes.Contains(grantType)" value="@grantType" />
                        <label for="grantType-@grantType" class="form-check-label">@grantType</label>
                    </div>
                }
            </div>
        </div>

        <!--Button-->
        <div class="form-group row">
            <label asp-for="Client.ClientSecrets" class="col-sm-3 col-form-label">
                Client Secrets
            </label>
            <div class="col-sm-9">
                <a asp-page="/Clients/Secrets" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="fas fa-key"></i> Manage Client Secrets</a>
            </div>
        </div>
    </div>
</div>
