@page
@model Auth.Pages.Device.IndexModel
@{
    ViewData["Title"] = "Device authorization";
}

@if (string.IsNullOrWhiteSpace(Model.Model?.UserCode))
{
    <div class="page-device-code">
        <div class="lead">
            <h1>User Code</h1>
            <p>
                Please enter the code displayed on your device
            </p>
        </div>

        <partial name="Shared/_ValidationSummary" />

        <div class="row">
            <div class="col-sm-6">
                <form asp-page="/Device/Index" method="post">
                    <div class="form-group">
                        <label for="userCode">User Code:</label>
                        <input name="userCode" class="form-control" autofocus />
                    </div>

                    <button class="btn btn-primary" name="button">Submit</button>
                </form>
            </div>
        </div>

    </div>
}
else
{
    <div class="page-device-confirmation">
        <div class="lead">
            @if (Model.Model.ClientLogoUrl != null)
            {
                <div class="client-logo"><img src="@Model.Model.ClientLogoUrl" alt="@Model.Model.ClientName"></div>
            }
            <h1>
                @Model.Model.ClientName
                <small class="text-muted">is requesting your permission</small>
            </h1>

            @if (Model.Model.ConfirmUserCode)
            {
                <p>
                    Please confirm that the authorization request quotes the code: <strong>@Model.Model.UserCode</strong>.
                </p>
            }

            <p>Uncheck the permissions you do not wish to grant.</p>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <partial name="_ValidationSummary" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">

                <form asp-page="/Device/Success" class="consent-form" method="post">
                    <input asp-for="Model!.UserCode!" type="hidden" value="@Model.Model.UserCode" />

                    @if (Model.Model.IdentityScopes!.Any())
                    {
                        <div class="card consent-buttons">
                            <div class="card-header">
                                <span class="fas fa-user"></span>
                                Personal Information
                            </div>
                            <ul class="list-group">
                                @foreach (var scope in Model.Model.IdentityScopes!)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.Model.ApiScopes!.Any())
                    {
                        <div class="card">
                            <div class="card-header">
                                <span class="fas fa-tasks"></span>
                                Application Access
                            </div>
                            <ul class="list-group">
                                @foreach (var scope in Model.Model.ApiScopes!)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.Model.AllowRememberConsent)
                    {
                        <div class="consent-remember">
                            <label>
                                <input class="consent-scopecheck" asp-for="Model!.RememberConsent" />
                                <strong>Remember My Decision</strong>
                            </label>
                        </div>
                    }

                    <div class="consent-buttons">
                        <button name="Model.Button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                        <button name="Model.Button" value="no" class="btn">No, Do Not Allow</button>
                        @if (Model.Model.ClientUrl != null)
                        {
                            <a class="float-right btn btn-outline-primary" target="_blank" href="@Model.Model.ClientUrl">
                                <span class="fas fa-info-circle"></span>
                                <strong>@Model.Model.ClientName</strong>
                            </a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
}
