@page
@using Microsoft.Extensions.Configuration
@model IndexModel
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h2>Launch Auth samples</h2>
    <ul>
        <li><a href="@Configuration.GetServiceUri("auth")" target="_blank">Auth</a></li>
        <li><a href="@Configuration.GetServiceUri("auth-admin")" target="_blank">Auth.Admin</a></li>
        <li><a href="@Configuration.GetServiceUri("weather-api")weatherforecast" target="_blank">Weather API</a></li>
        <li><a href="@Configuration.GetServiceUri("weather-summary-api")weathersummary" target="_blank">Weather Summary API</a></li>
        <li><a href="@Configuration.GetServiceUri("javascriptbff-client")" target="_blank">JavaScript BFF client</a></li>
        <li><a href="@Configuration.GetServiceUri("mvc-client")" target="_blank">MVC Client</a></li>
        <li><a href="https://localhost:5001/" target="_blank">Smtp4Dev (for manual run)</a></li>
        <li><a href="http://localhost:8025/" target="_blank">MailHog (for Tye and Docker)</a></li>
    </ul>
    <p>
		<a href="/.well-known/openid-configuration" title="OpenID Connect" target="_blank">
			OpenID Connect Configuration</a>
	</p>
</div>
